.mbody {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
  }
  
  .mh1, .mh2, .mh3, .mh4, .mh5, .mh6 {
    color: #444444;
  }
  
  .mbg-steel {
    background-color: #5f788a;
  }
  
  .msite-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .msite-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .msite-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .mcontent-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .marticle-title {
    color: #444444;
  }
  
  a.marticle-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .marticle-content {
    white-space: pre-line;
  }
  
  .marticle-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .marticle-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .marticle-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .marticle-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .maccount-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .maccount-heading {
    font-size: 2.5rem;
  }